* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.hero-section {
  background-image: url(heropage.avif);
  height: 100vh;
  background-size: cover;
  z-index: -5;
}
/* nav-bar */
h1 {
  color: white;
  font-size: 1.5rem;
}
.burger {
  display: none;
  height: 30px;
  width: 50px;
  background-color: black;
  color: red;
  border: 2px solid white;
}
.admin {
  color: green;
  height: 500px;
  border: 2px solid white;
  display: none;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;

  /* padding-right: 30px; */
  /* padding-top: 20px; */
  background-color: white;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 40px;
  height: 70px;
  /* width: 50%; */
  width: 900px;
  position: fixed;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 30px;
}
.nav-bar h1 {
  color: black;
  font-size: clamp(1rem, 5vw, 2rem);
}
.about-me {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  margin-top: 200px;
  gap: 50px;
  padding-left: 80px;
  width: 50%;
  height: 50%;
}
.about-me h1 {
  font-size: 4rem;
}
.level {
  position: relative;
  bottom: 50px;
}

.all {
  display: flex;
}
.container {
  height: 500px;
  width: 500px;

  position: absolute;
  right: 50px;
  bottom: 50px;
}
.image {
  background-image: url("me.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.links {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  font-size: 2rem;
}
.nav-bar h1:hover {
  border-bottom: 1px solid black;
}
.nav-bar {
  animation-name: slide-down;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  /* animation-iteration-count: 1; */
  transform: translateY(-500px);
  animation-fill-mode: forwards;
}
@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.about-me {
  animation-name: right;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  /* animation-iteration-count: 1; */
  transform: translateX(-500px);
  animation-fill-mode: forwards;
}
@keyframes right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.image {
  opacity: 0;
  animation-name: pop;
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.me {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.me p {
  margin-top: 20px;
}
@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .about-me {
    padding-left: 22px;
  }
  .me {
    position: relative;
    bottom: 200px;
  }
  .hero-section {
    height: 800px;
  }
  .burger {
    visibility: visible;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
  }
  .admin {
    visibility: visible;
    display: flex;
    height: 70vh;
    background-color: brown;
    flex-direction: column;
    gap: 50px;
    width: 70vw;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30px;
    color: black;
    padding-left: 10px;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .admin.show {
    transform: translateX(0);
  }

  .nav {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .nav-bar {
    width: 600px;
    background-color: transparent;
    border: none;
    visibility: hidden;
  }
  .nav-bar h1 {
    color: white;
  }

  .container {
    height: 250px;
    position: absolute;
    top: 250px;
    right: 60px;
  }
  .image {
    background-size: contain;
    /* visibility: hidden; */
    margin-left: 0px;
  }
  .me h3 {
    position: relative;
    top: 30px;
  }
  .burger {
    display: block;
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 25px;
  }
  .all {
    position: absolute;

    bottom: 300px;
    animation-name: right;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    /* animation-iteration-count: 1; */
    transform: translateX(-500px);
    animation-fill-mode: forwards;
    top: 100px;
  }

  /* about me */
}
.myself {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 50px;
}
.little h1 {
  color: black;
}

.little {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  border: 8px solid black;
  width: 250px;
  height: 80px;
}
#text {
  color: black;
  font-size: 2rem;
}
.uni {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.uni h4 {
  color: black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  width: 200px;
  text-align: center;
  font-size: 2rem;
}
.skilz {
  height: 300px;

  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  flex-wrap: wrap;
}
.skills h1 {
  color: black;
}
.skills p {
  color: black;
  font-weight: lighter;
}
.skills {
  height: 100px;
  width: 500px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
/* skills */
.mine {
  height: 100vh;
  border: 5px solid black;
}
.burger {
  cursor: pointer;
}
/* .all {
  position: relative;
  bottom: 350px;
} */
